* {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
   header .navbar{
    top: 0;
    background: #111;
    flex-direction: column;
    text-align: center;
  }
  main .home {
    padding: 4.5rem;
    background-size: 100%;
    background-image: url(/assets/lfa.gif);
  }
  main .home .name {
    padding-left: 0.5rem;
    font-size: 10px;
    color: white;
  }
  main .name .download a {
  border-radius: 10px;
  text-decoration: none;
  background-color: black;
  margin-left: -6rem;
}
  main .AboutMe h1 {
    font-size: 15px;
    margin-left: 8rem;
  }
  main .AboutMe h3 {
    margin-left: 5.5rem;
    font-size: 10px;
  }
  main .about-content {
    flex-direction: column;
  }
  main .profile-img img {
    height: 30vh;
    border-radius: 40rem;
    margin-left: 4.5rem;
  }
  main .biodata p {
    font-size: 10px;
    padding-left: 5rem;
    margin-top: -12rem;
  }
  main .AboutMe .biodata img {
    margin-right: 8rem;
    margin-bottom: 15rem;
    max-width: 7rem;
    max-height: 5rem;
  }
  main .MySkill {
    background-image: url(/assets/f1\ road.jpg);
    background-size: 100%;
  }
  main .MySkill h1 {
    color: white;
    font-size: 20px;
    margin-left: 1rem;
  }
  main .MySkill h3 {
    margin-left: 2.5rem;
    color: white;
    font-size: 10px;
  }
  main .skill-container {
    flex-direction: column;
    margin-left: -2.5rem;
    margin-right: 4.5rem;
    margin-top: -7rem;
  }
  main .skill-card img {
    height: 10vh;
    width: 10vh;
  }
  main .skill-card {
    background-image: url(/assets/hack.gif);
    transition: transform 0.5s;
    text-align: center;
  }
  main .MyProject {
    background-image: url(/assets/wpp.jpg);
    background-size: 100%;
    padding: 8rem;
  }
  main .MyProject h1 {
    font-size: 15px;
    margin-left: 0.5rem;
  }
  main .MyProject h3 {
    font-size: 10px;
    color: white;
    margin-left: 0rem;
  }
  main .project-container {
    flex-direction: column;
  }
  main .project-card {
    margin-left: -5rem;
    box-shadow: 3px 4px rgb(102, 98, 98);
    background: white;
    width: 15rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    transition: transform 0.3s;
    border-radius: 10px;
  }
  main .project-img img {
    border-radius: 10px;
    height: 10rem;
    width: 15rem;
    background-color: gray;
  }
  main .project-isi h3 {
    margin-left: 0rem;
    font-size: 15px;
    color: black;
  }
  main .contact {
    padding-top: 8.5rem;
    padding-bottom: 2rem;
    padding-left: 2.5rem;
    background-color: white;
  }
  main .contact h1 {
    font-size: 15px;
    margin-left: 5rem;
  }
  main .contact h3 {
    font-size: 10px;
    margin-left: 4.6rem;
    padding-bottom: 1rem;
  }
  main .form-container {
    flex-direction: column;
    padding-top: 2rem;
    background-image: url(/assets/bmw.gif);
    background-size: cover;
    border: 1px solid black;
    border-radius: 10px;
    width: 15rem;
    height: 18rem;
    background-color: black;
    padding-left: 2rem;
    margin-left: -1.3rem;
  }
  main .input-contact {
    padding: 0.5rem;
    padding-right: 2rem;
    border-radius: 5px;
    background-color: white;
  }
  main .left-form p {
    font-size: 10px;
    color: white;
  }
  main .left-form textarea {
    border-radius: 5px;
    padding-bottom: 2rem;
    padding-right: 3rem;
    padding-left: 7px;
    padding-top: 7px;
  }
  main .right-contact {
    border-radius: 10px;
    background-color: white;
    margin-left: -1.5rem;
    width: 14rem;
    padding-bottom: 1rem;
  }
  footer h3 {
    font-size: 15px;
    padding-top: 5rem;
  }
}
html {
  scroll-behavior: smooth;
}

#Home {
  scroll-margin-top: 100px;
}
#AboutMe {
  scroll-margin-top: 125px;
}
#Project {
  scroll-margin-top: -10px;
}

header {
  z-index: 1;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
  background-color: black;
  color: white;
  text-decoration: 0;
  border-bottom: 1px solid white;
}

.navbar .judul a {
  font-family: "Alex Brush";
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-decoration: 0;
  color: white;
  margin-left: 10px;
}

.navbar .judul a:hover {
  color: gray;
  border-bottom: 1px solid white;
}

.navbar .item a {
  text-decoration: 0;
  color: white;
  padding: 15px;
  font-size: 20px;
}

.navbar .item :hover {
  color: gray;
  border-bottom: 1px solid white;
}

.navbar .icon a {
  text-decoration: 0;
  color: white;
  margin: 10px;
  font-size: 20px;
}

.navbar .icon :hover {
  color: gray;
  border-bottom: 1px solid white;
}

.home {
  padding-top: 3rem;
  background-size: cover;
  background-image: url(/assets/lfa.gif);
}

.home .name {
  padding: 10rem;
  font-size: 20px;
  color: white;
}

.name h2 {
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5rem;
  font-size: 20px;
  color: white;
}

.name h3 {
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
}

.name .download a {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  background-color: black;
  margin-left: 55rem;
  padding: 10px;
}


.name .download :hover {
  background-color: gray;
}

.AboutMe h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 10rem;
  margin-left: 15rem;
}

.AboutMe span {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: gray;
}

.AboutMe h3 {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin-left: 11.5rem;
}

.about-content {
  display: flex;
  padding-top: 3rem;
  gap: 3rem;
}

.profile-img img {
  height: 60vh;
  border-radius: 40rem;
  margin-left: 9rem;
  margin-bottom: 10rem;
}

.AboutMe .biodata img {
  height: 20vh;
  margin-right: 8.5rem;
  margin-bottom: 15rem;
  max-width: 20rem;
  max-height: 10rem;
}

.biodata p {
  margin-top: 2rem;
  font-size: 3vh;
  margin-right: 5rem;
}

.MySkill {
  background-image: url(/assets/f1\ road.jpg);
  background-size: cover;
  padding-left: 6rem;
  padding-top: 8rem;
  padding-bottom: 15rem;
}

.MySkill h1 {
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.MySkill span {
  margin-bottom: 3rem;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: gray;
}

.MySkill h3 {
  color: white;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}

.skill-container {
  display: flex;
  gap: 1rem;
  margin-left: 5rem;
}

.skill-card {
  background-image: url(/assets/hack.gif);
  padding: 1.5rem;
  transition: transform 0.5s;
  text-align: center;
  max-width: 15rem;
  border-radius: 20px;
  margin-top: 10rem;
  margin-left: 1rem;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.skill-card p {
  backdrop-filter: blur(3px);
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.MyProject {
  background-image: url(/assets/wpp.jpg);
  background-size: cover;
  padding: 8rem;
}

.MyProject h1 {
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.MyProject span {
  color: black;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 2rem;
}

.MyProject h3 {
  color: black;
  padding-bottom: 2rem;
}

.project-container {
  display: flex;
  gap: 1rem;
}

.project-card {
  box-shadow: 3px 4px rgb(102, 98, 98);
  background: white;
  width: 30rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 5px;
  transition: transform 0.3s;
  border-radius: 10px;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-img img {
  border-radius: 10px;
  height: 16rem;
  width: 26rem;
  background-color: gray;
}

.project-isi h3 {
  color: black;
}

.project-isi {
  padding: 1.5rem;
}

.project-isi p {
  margin-bottom: 1rem;
  color: black;
}

.project-visit {
  background: gray;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.project-visit:hover {
  background: rgb(74, 69, 69);
}

.contact {
  padding-top: 8rem;
  padding-bottom: 2rem;
  padding-left: 20rem;
  background-color: white;
}

.contact h1 {
  color: black;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.contact span {
  color: gray;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 2rem;
}
.form-container {
  display: flex;
  padding-top: 2rem;
  background-image: url(/assets/bmw.gif);
  background-size: cover;
  border: 1px solid black;
  border-radius: 10px;
  width: 50rem;
  height: 20rem;
  background-color: black;
  padding-left: 3rem;
}

.input-contact {
  padding: 0.5rem;
  padding-right: 10rem;
  border-radius: 5px;
  background-color: white;
}

.left-form p {
  padding: 5px;
  color: white;
}

.left-form textarea {
  border-radius: 5px;
  padding-bottom: 2rem;
  padding-right: 10rem;
  padding-left: 7px;
  padding-top: 7px;
}

.left-form button {
  padding: 5px 15px;
  border-radius: 5px;
  font-family: "Mate SC", serif;
  font-weight: 500;
  font-style: normal;
  background-color: black;
  color: white;
}

.left-form button:hover {
  background-color: gray;
}

.right-contact {
  margin-top: 2rem;
  margin-left: 12rem;
  border-radius: 10px;
  height: 20vh;
  background-color: white;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-right: 1rem;
}

.right-contact a {
  text-decoration: 0;
  color: black;
  font-family: "Mate SC", serif;
  font-weight: 500;
  font-style: normal;
}

.right-contact p {
  margin-bottom: 5px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.right-contact a img {
  width: 1.5rem;
  height: 1.5rem;
}

footer {
  background-image: url(/assets/front\ f1.png);
  background-size: cover;
  background-color: black;
  text-align: center;
  padding: 2rem;
}


footer h3 {
  color: white;
}
